
@{
    ViewData["Title"] = "Sipariş Tamamlandı";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1>Sipariş tamamlandı !</h1>
<br />
<br />


<div class="row" style="margin-left:3%;">
    <h1>Sipariş Numarası: </h1> <h1 style="margin-left:2%;">@ViewBag.orderId</h1>
</div>

<br />
<br />