<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/layout.css" rel="stylesheet" />
</head>
<body>
    <div class="menubar">

        <button>Ürün Listesi</button>
        <button>Sepet</button>
        <button class="btnlogout">Çıkış Yap</button>

    </div>

    <div>
        @RenderBody()
    </div>

    <script id="__bs_script__">
//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>
